body {
    background-color: #DAF5FF;
    text-align: center;
    font-family: Montserrat, arial, sans-serif;
    margin: 0;
}
h1 {
    margin: 0 auto;
    width: 100%;
    font-size: 4rem;
    word-wrap: break-word;
    font-family: roboto, arial, sans-serif;
    color: #66BFBF;
    line-height: 1;
}

h2 {
    font-family: roboto, arial, sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: roboto, arial, sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}

p {
    font-size: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
    list-style-position: inside;
    font-size: 1.15rem;
}

.top-container {
    padding: 5% 5% 0 5%;
    height: 40rem;
    background: linear-gradient(to bottom, #B0DAFF, #B9E9FC);
    position: relative;
}

.middle-container {
    padding: 1% 0 3% 0;
    margin: 0, auto;
    position: relative;
}

.profile {
    margin: 0 auto;
    max-width: 75%;
    padding-bottom: 5%;
}

.skills {
    margin-top: 5%;
}

.contact-me {
    margin-top: 4%;
}

.footer {
    margin: 10px;
}

.bottom-container {
    background-color: #BBE1FA;
    height: 6rem;
    margin: auto;
    padding-top: 2.5rem;
}

.footer-link {
    margin: 50px 20px 0 20px;
    color: #11999E;
    font-family: roboto, arial, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.bottom-cloud {
    position: absolute;
    left: 27%;
    margin: auto;
    z-index: 2;
    width: 10%;
}

.top-cloud {
    position: absolute;
    top: 5%;
    left: 65%;
    z-index: 2;
    margin: auto;
    width: 10%;
}

.mountain {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.python-skill-image, .html-css-image, .other-skills-image {
    width: 15%;
    margin-right: 30px;
    float: left;
}

.skill-row {
    margin: 100px auto 100px auto;
    width: 75%;
    text-align: left;
    line-height: 2;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.line {
  border-top: 20px dotted #000;
  width: 10%;
  margin: auto;
  top-padding: 50px;
  border-color: #B0DAFF;
}

.btn {
    -webkit-border-radius: 30;
    -moz-border-radius: 30;
    border-radius: 30px;
    font-family: Arial;
    font-size: 20px;
    padding: 15px;
    background: #BBE1FA;
    text-decoration: none;
    position: relative;
    top: 1.5rem;
}

.btn:hover {
  background: #DAF5FF;
  text-decoration: none;
}

#profile-picture {
    max-width: 100%;
    border-radius: 50%; /* fallback for older browsers */
    width: 13%;
    height: auto; /* make the height adjust automatically to maintain the aspect ratio */
}