body {
    background-color: #1B262C;
    text-align: center;
    font-family: Montserrat, arial, sans-serif;
    margin: 0;
}
h1 {
    margin: 0 auto;
    width: 100%;
    font-size: 4rem;
    word-wrap: break-word;
    font-family: roboto, arial, sans-serif;
}

h2 {
    font-family: roboto, arial, sans-serif;
    font-size: 2.5rem;
}

h3 {
    font-family: roboto, arial, sans-serif;
}

p {
    font-size: 1.25rem;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
    list-style-position: inside;
    font-size: 1.25rem;
}

.top-container {
    padding: 5% 5% 0 5%;
    height: 40rem;
    background-color: #0F4C75;
    position: relative;
}

.middle-container {
    padding: 1%;
    background-color: #3282B8;
    margin: 0;
}

.profile {
    margin: 0 auto;
    max-width: 75%;
    padding-bottom: 5%;
}

.bottom-container {
    background-color: #BBE1FA;
}

.bottom-cloud {
    position: absolute;
    left: 27%;
    margin: auto;
    z-index: 2;
    width: 10%;
}

.top-cloud {
    position: absolute;
    top: 5%;
    left: 65%;
    z-index: 2;
    margin: auto;
    width: 10%;
}

.mountain {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.python-skill-image, .html-css-image, .other-skills-image {
    width: 14%;
}

.skill-row {
    padding-bottom: 5%;
}
#profile-picture {
    max-width: 100%;
    border-radius: 50%; /* fallback for older browsers */
    width: 13%;
    height: auto; /* make the height adjust automatically to maintain the aspect ratio */
}